<html>
  {{template "header.tmpl.html"}}
<body>
  {{ if .Matchday }}
    <div class="alert alert-success text-center" role="alert">
        MOTHERFUCKING MATCHDAY
    </div>
  {{ else }}
  <div class="alert alert-danger text-center" role="alert">
      not motherfucking matchday
  </div>
  {{ end }}

  <table>
    <thead>
      <tr>
          <th>Opponent</th>
          <th>Venue</th>
          <th>Competition</th>
          <th>Time</th>
          <th>Stream</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Matches }}
      <tr>
        <td>{{.Opponent}}</td>
        <td>{{.Venue}}</td>
        <td>{{.Competition}}</td>
        <td>{{.Time.Format "Mon Jan 02 15:04"}}</td>
        <td><a href="{{.StreamLink}}">{{.StreamTitle}}</a></td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <hr>

</body>
</html>
