<html>
{{template "header.tmpl.html"}}

{{ if .Matchday }}
<body class="yes">
  {{ else }}
  <body class="no">
    {{ end }}
    <div class="content">
      <div class="yesno-container">
        <div class="jumbotron">
          <h2>Is Detroit City playing today?</h2>
        {{ if .Matchday }}
          <h1>Motherfucking Match Day!</h1>
        {{ else }}
          <h1>No.</h1>
        {{ end }}
      </div>
      </div>
      <div class="schedule-container">
        {{ range .Matches }}
        <!-- need check from home/away -->
        <div class="match-info {{.HomeOrAway}}">
          <p>{{.Time.Format "Mon Jan 02 15:04"}}</p>
          <h2>{{.Opponent}}</h2>
          <p>{{.Venue}}</p>
          <p>{{.Competition}}
            <!-- | <a href="{{.StreamLink}}">Watch</a>-->
          </p>
        </div>
        {{end}}

        <!-- static example home/away-->
        <!--
        <div class="match-info home">
          <p>Today | 4:30 pm</p>
          <h2>West Michigan Bearings</h2>
          <p>Keyworth Stadium | Hamtramck, MI</p>
          <p>MWPL | <a href="#">Watch</a></p>
        </div>
        <div class="match-info away">
          <p>Today | 7:30 pm</p>
          <h2>Chicago Mustangs</h2>
          <p>A Chicago Stadium | Chicago, IL</p>
          <p>UWS | <a href="#">Watch</a></p>
        </div>
        -->
      </div>
  </body>

</html>